
.container-fluid {
  background-image: linear-gradient(to left, rgba(0, 37, 38, 12.5), rgba(0, 0, 0, 0)), url('../assets/img/business.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: sepia(20%);
  height: 100vh;
}
